html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: white;
    color: black;
}

.content-section {
    padding: 1em;
    margin: 0 auto;
    max-width: 1200px;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#map {
    background: gray;
    height: 600px;
    width: 100%;
}

/* Dark mode */
body[data-theme="dark"],
html:has(body[data-theme="dark"]) {
    background: #1e1e1e !important;
    color: #e0e0e0;
}

body[data-theme="dark"] #map {
    background: #2d2d2d;
}

body[data-theme="dark"] #header h1 {
    color: #e0e0e0;
}

body[data-theme="dark"] #tag_selector,
body[data-theme="dark"] #map_description,
body[data-theme="dark"] #filter_selector,
body[data-theme="dark"] #footer {
    color: #e0e0e0;
}

body[data-theme="dark"] #tag_selector select,
body[data-theme="dark"] #tag_selector input {
    background: #2d2d2d;
    color: #e0e0e0;
    border: 1px solid #555;
}

body[data-theme="dark"] a {
    color: #64b5f6;
}

body[data-theme="dark"] a:visited {
    color: #ba68c8;
}

body[data-theme="dark"] #theme-toggle {
    background: #2d2d2d;
    color: #e0e0e0;
    border-color: #555;
}

#theme-toggle:hover {
    opacity: 0.8;
}

noscript { color: #AA4400 }
.olMap {
    color: black;
}

.olMap a {
    background: transparent;
    color: blue;
    text-decoration: none;
}

.olControlAttribution {
    bottom: 0.1em !important;
    left: 0.1em;
    right: auto !important;
}

.olControlLoadStatus {
    left: 50px;
    top: 10px;
}

.olControlMaplink {
    right: 0.1em;
    font-size: smaller;
}

#ml1 {
    bottom: 4.2em;
}

#ml2 {
    bottom: 3.0em;
}

.olControlMousePosition {
    background: white;
    bottom: 0.1em;
    font-family: Monospace;
    opacity: 0.7;
    right: 0.1em;
}

.olControlZoomstatus {
    bottom: 1.5em;
    left: 0px;
    background: white;
    opacity: 0.7;
}

/* .olFramedCloudPopupContent { */
/*     max-height: 400px; */
/* } */
/*  */
/* .olFramedCloudPopupContent, */
/* .olFramedCloudPopupContent table { */
/*     color: black; */
/* } */

.olFramedCloudPopupContent h3 {
    font-size: 120%;
    font-weight: bold;
    margin: 0;
}

.olFramedCloudPopupContent h3 img {
    height: 16px;
    width: 16px;
}

/* .olFramedCloudPopupContent td { */
/*     background: transparent; */
/*     margin: 0; */
/*     padding: 0; */
/* } */
/*  */
/* .olFramedCloudPopupContent p { */
/*     font-size: xx-small; */
/*     margin: 0 0 1em; */
/*     text-align: right; */
/* } */

.olFramedCloudPopupContent hr {
    display: none;
}

.olFramedCloudPopupContent .v {
    color:black;
    background: #dddddd;
    border: 1px solid gray;
    font-family: Monospace;
}

.olFramedCloudPopupContent .e {
    background: red;
    color: white;
    font-weight: bold;
    padding: 2px;
}

.olFramedCloudPopupContent .m {
    background: gray;
    color: white;
    font-weight: bold;
    padding: 2px;
}

.olFramedCloudPopupContent .o {
    color: blue;
}

.olFramedCloudPopupContent .c {
    color: gray;
}

.olFramedCloudPopupContent .u {
    color: red;
}

.olFramedCloudPopupContent .t {
    color: red;
}

.olFramedCloudPopupContent {
    overflow: auto !important;
}

@media print {
    .olControlMousePosition,
    .olControlPanZoomBar,
    .olControlPermalink,
    .olControlZoomstatus {
        display: none !important;
    }
}
